/* https://simplestepscode.com/css-glass-button-tutorial/ */

.Button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  align-self: center;
  border: 1px solid salmon;
  border-radius: 100px;
  padding: 4px 10px;
  margin: auto;
  background-image: linear-gradient(rgb(209, 106, 37), orange);
  text-decoration: none;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: #df2d00 !important;
}

.Button:hover:active {
  background-color: #df6000 !important;
}

.Button:active {
  background-color: #df6000 !important;
}

.Button:focus {
  background-color: #df6000;
}

.Wide {
  padding: 10px 40px;
  width: 100%;
}

.CommentButton {
  border: 1px solid rgb(21, 206, 21);
  background-color: rgb(97, 187, 97);
  margin: 5px 1px 0 0;
  min-width: 75px;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.CommentSave {
  border: 1px solid rgb(21, 206, 21);
  background-color: rgb(97, 187, 97);
  margin: 5px 1px 0 0;
  min-width: 75px;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.CommentCancel {
  border: 1px solid rgb(21, 206, 21);
  background-color: rgb(97, 187, 97);
  margin: 5px 1px 0 0;
  min-width: 75px;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}


.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: white;
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: #dadadf;
  color: #242a3d;
  border-color: #242a3d;
  background-color: aliceblue;
  color: #242a3d;
}

@media all and (max-width: 468px) {
  .Button {
    font-size: 0.8rem;
  }

}
