/* Display of links within the LeftPanel */
.Link {
    display: inline;
}

@media all and (min-width: 1200px) {
    .CollapsedColumn {
        justify-content: space-around;
    }
}

@media all and (min-width: 991px) {
    .CreatePanel {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }
}