/* Display of links within the LeftPanel */
.Link {
    display: inline;
    
}

.Content {
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }
  

@media all and (min-width: 1200px) {
    .CollapsedColumn {
        justify-content: space-around;
    }
}

@media all and (min-width: 991px) {
    .CreatePanel {
        display: flex;
        flex-direction: column;
        border-radius: 5px;

    }
}