.NavBarBrand {
    font-size: xx-large;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
}

.NavItems {
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
}

.NavLink {
    padding: 10px;
    color: black;
}

.Active {
    color: blue;
}

.Active i {
    color: blue;
}