.SearchBar input {
  color: #1e47ce;
  padding-left: 42px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.25rem;
  padding-top: 10px;
  padding-left: 12px;
}

.SearchIcon:hover {
  cursor: default;
  color: #f0cf36;
}