.Container {
  background-color: white;
  border: 2px solid #f08d0b;
  padding: 20px;
  margin: 50px auto;
  width: 50%;
  border-radius: 20px;
  box-shadow: rgba(177, 86, 11, 0.15) 3px 1.95px 2.6px;
}


h2 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #d8412d;
}

p {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .Container {
    width: 80%;
  }
}