.App {
  font-family: "Alegreya Sans", sans-serif;
  min-height: 100vh;
}

.Main {
  padding-top: 100px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Content {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}



* {
  box-sizing: border-box;
}

/* Style app links */
a {
  color: black;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: purple;
}

a:hover i {
  color: purple;
  transition: color ease-in-out 0.3s;
}

i {
  color: black;
  font-size: 1.3rem;
  padding: 5px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

figure {
  text-align: center;
  display: inline-block;
}

.ProfileContainer {
  border-top: none;
  border-left: none;
  background-color: #cbf3f0;
  border-bottom: 5px solid #e9e9e9;
}

.ContentProfile {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}



@media all and (min-width: 768px) {
.ContentProfile {
  display: none;
}
}