.App {
  font-family: "Alegreya Sans", sans-serif;
  min-height: 100vh;
}

.Main {
  padding-top: 100px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

* {
  box-sizing: border-box;
}

/* Style app links */
a {
  color: black;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: purple;
}

a:hover i {
  color: purple;
  transition: color ease-in-out 0.3s;
}

i {
  color: black;
  font-size: 1.3rem;
  padding: 5px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}